/**********************************************************
|         isman          %root%          isman            |
**********************************************************/
:root {
    --white-color:                  #FFFFFF;
    --primary-color:                #247cff;
    --section-bg-color:             #F9F9F9;
    --dark-color:                   #000000;
    --title-color:                  #565758;
    --p-color:                      #717275;
    --border-color:                 #eaeaea;
}
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a{text-decoration: none;}
/**********************************************************
|         isman         %NavBar%         isman            |
**********************************************************/
.topnav-icon{
   text-align: center;
   margin: .6rem 1.8rem;
   font-size: 1.5rem;
   font-weight: 700;
   line-height: 1.4rem;
   color:var(--primary-color);
}
.topnav-icon span{
    font-size: .8rem;
    font-weight: bold;
    color: #717275;
}
.topnav-icon:hover{
    color:var(--primary-color)
}
.nav-item{
    padding: 0 1.1rem;
    font-weight: 650 ;
    touch-action: manipulation;
}
.nav-item:focus,
.nav-itemhover{
    color: var(--dark-color);
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
/**********************************************************
|         isman         %carousel%         isman           |
**********************************************************/
.carousel-item img{
    box-sizing: border-box;
    height: auto;
}
.self-carousel{
    padding-top: 0px ;
    margin-top: 90px;
}
.self-carousel .container {
  position: relative;
  overflow: hidden;
  height: 83vh;
}
/**********************************************************
|         isman         %textbox%         isman           |
**********************************************************/
.text-box {
  background: var(--white-color);
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  padding: 1.5rem 2.5rem;
  width: 50%;
  box-sizing: border-box;
}
.contact-phone {
  font-weight: var(--font-weight-semibold);
} 
/* animation for text */
  .animated-info {
    display: inline-block;
    vertical-align: top;
    min-width: 250px;
    position: relative;
  }
  .animated-item {
    color: var(--primary-color);
  }
  .animated-item {
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
}
  .animated-item:nth-child(2) {
    animation-delay: 2s;
  }
  .animated-item:nth-child(3) {
    animation-delay: 4s;
  }
  @keyframes BottomTotop {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0;
      transform: translateY(5px);
    }
    10% {
      opacity: 1;
      transform: translateY(0px);
    }
    25% {
      opacity: 1;
      transform: translateY(0px);
    }
    30% {
      opacity: 0;
      transform: translateY(5px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
/* end of animation for text */
.text-box-title h1 , span{
    font-size: 3rem;
    font-weight: bold;
}
.text-box-text p{
    color: var(--p-color);
    font-size: 1.25rem;
    font-weight: 100;
}
.text-box-footer a{
    border: 1px var(--border-color) solid;
    text-decoration: none;
    padding: .5rem 30px;
    font-size: 1rem;
    font-weight: 600;
}
.text-box-footer p{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--p-color);
}
/**********************************************************
|       isman         %self-meet%        isman            |
**********************************************************/
.self-meet{
    margin: 6rem 0rem;
}
.meet-left-header h2{
font-size: 2.3rem;
font-weight: bold;
padding: .8rem 0rem;
}
.meet-left-text{
color: var(--p-color);
opacity: 70%;
font-size: 1.2rem;
font-weight: 400;
}
.meet-right-box{
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1rem 3rem rgba(0,0,0,.175) !important;
    border-radius: 110rem ;
    -webkit-border-radius: 110rem ;
    -moz-border-radius: 110rem ;
    -ms-border-radius: 110rem ;
    -o-border-radius: 110rem ;
}
.meet-right-box strong{
    color: var(--primary-color);
    font-size: 8rem;
    font-weight: bold;
}
.meet-right-box span:nth-child(1){
    color: var(--p-color);
    font-size: 1.5rem;
    padding: 0rem 10rem;
    line-height: 2rem;
    font-weight: 650;
}
/**********************************************************
|       isman        %timeline%            isman          |
**********************************************************/
.timeline{
  margin: 6rem 0 0 0;
}
.timeline,
.timeline-nodes {
  position: relative;
}
.timeline-nodes:nth-child(even) {
  flex-direction: row-reverse;
}
.timeline h3, 
.timeline p {
  padding: 10px 30px;
} 
.timeline h3 {
  background: var(--dark-color);
}
.timeline::before {
  content: "";
  display: block;
  position: absolute;
  top: 37px;
  left: 50%;
  width: 0;
  border-left: 1px solid var(--border-color);
  height: 85%;
  z-index: 1;
  transform: translateX(-50%);
}
.timeline-content {
  position: relative;
  border-radius: 0 0 0.25rem 0.25rem;
  padding: 0;
}
.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
  text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-date {
  text-align: left;
}
.timeline-nodes:nth-child(even) .timeline-date {
  text-align: right;
}
.timeline-nodes:nth-child(odd) h3::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  width: 0;
  border-left: 10px solid var(--dark-color);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.timeline-nodes h3 {
  position: relative;
  border-radius: 0.25rem 0.25rem 0 0;
}
.timeline-nodes:nth-child(even) h3::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translate(0, -50%);
  width: 0;
  border-right: 10px solid var(--dark-color);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.timeline-icons {
  position: relative;
  z-index: 100;
}
.timeline-icons::before {
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  z-index: 1;
}
.timeline-icon {
  position: relative;
  z-index: 100;
  font-size: var(2.2rem);
  color: var(--primary-color);
  display: block;
  text-align: center;
  line-height: 80px;
}
/**********************************************************
|       isman        %patient%        isman          |
**********************************************************/
.patients{
  margin-top: 8rem;
  margin-bottom: 3rem;
}
.patient-header{
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
.patient-stars{
  color: var(--white-color);
}
.patient-text{
  color: var(--white-color);
}
.carousel-fix-center{
  position: relative;
  right: 22%;
}
.carousel-indicators {
  top: 20rem;
}
.patient-thumb img{
  width: 50px;
  height: 50px;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.card-body{
  padding-left: 30px;
  padding-top: 20px;
}
.card{
  width: 35rem;
}

/**********************************************************
|       isman            %form%            isman          |
**********************************************************/
.book-header{
  margin-top: 6rem;
}
.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color);
  color: #6c757d;
  font-weight: 3rem;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 15px;
  transition: all 0.3s;
}

#submit-button {
  background: var(--dark-color);
  border-bottom: 0;
  font-weight: var(--font-weight-semibold);
  color: var(--white-color);
  text-transform: uppercase;
  margin-top: 35px;
}

#submit-button:hover {
  background: var(--primary-color);
}
/**********************************************************
|       isman          %footer%            isman          |
**********************************************************/
.site-footer {
  background: var(--section-bg-color);
  padding-top: 8em;
}
.footer-back{
  background-color: var(--section-bg-color);
  padding: 20px 0;
  color: var(--p-color);
}
.footer-time{
  font-size: 1rem;
  font-weight: 400;
}
.footer-email{
  text-decoration: none;
  color: var(--p-color);
  font-size: 1.3rem;
}
/**********************************************************
|       isman          %social%            isman          |
**********************************************************/
.social-icon {
  margin: 0;
  padding: 0;
}
.social-icon a{
  text-decoration: none;
  color: var(--p-color);
}
.social-icon li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  transition: all 0.3s;
}
.social-icon:hover li:not(:hover) {
  opacity: 0.65;
}
.social-icon-link {
  font-size: 2rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 15px;
}
.social-icon-link:hover {
  color: var(--primary-color);
}
.designer {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 2rem 0;
  
}
/***********************************
|                                  |
|                                  |
|                                  |
|                                  |
|                                  |
|                                  |
|                                  |
|    isman     %phone%    isman    |
|                                  |
|                                  |
|                                  |
|                                  |
|                                  |
|                                  |
|                                  |
|                                  |
*************************************
 /* Small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) { 
    .text-box {
        background: var(--white-color);
        padding: 1.5rem 2.5rem;
        width: 100%;
      }
    /* timeline */  
  .timeline-nodes:nth-child(odd) h3,
  .timeline-nodes:nth-child(odd) p {
    text-align: left;
  }

  .timeline-nodes:nth-child(even) {
    flex-direction: row;
  }

  .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 60px;
    left: 33px;
    width: 0;
    height: 90%;
    z-index: 1;
    transform: translateX(-50%);
  }

  .timeline-icons {
    position: absolute;
    left: 0%;
    top: 60px;
  }

  .timeline-nodes:nth-child(odd) h3::after {
    left: auto;
    right: 100%;
    border-left: 0;
    border-right: 10px solid var(--dark-color);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .timeline-nodes:nth-child(even) h3::after {
    right: 100%;
    width: 0;
    border-right: 10px solid var(--dark-color);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
  }

  .timeline-icons::before {
    width: 75px;
    height: 75px;
  }

  .timeline-icon {
    line-height: 75px;
  }
  .card{
    width: 10rem;
    right: 5px;
  }
  .carousel-indicators {
    top: 45rem;
  }
 }
/**********************************************************
|                                                          |
|                                                          |
|                                                          |
|                                                          |
|                                                          |
|                                                          |
|                                                          |
|               isman     %phone%    isman                 |
|                                                          |
|                                                          |
|                                                          |
|                                                          |
|                                                          |
|                                                          |
|                                                          |
|                                                          |
************************************************************
 /*  Medium devices (tablets, less than 992px) */
@media (min-width: 767.98px) and (max-width: 991.98px) { 
    .text-box {
        background: var(--white-color);
        padding: 1.5rem 2.5rem;
        width: 100%;
        box-sizing: border-box;
      }
      /* timeline */
      .timeline::before {
        content: "";
        display: block;
        top: 60px;
        left: 57px;
        height: 87%;
      }
    
      .timeline-icons {
        position: absolute;
        left: -10px;
      }
    
      .timeline-icons::before {
        width: 70px;
        height: 70px;
      }
    
      .timeline-icon {
        line-height: 70px;
      }
      .card{
        width: 25rem;
        right: 50px;
      }
      .carousel-indicators {
        top: 23rem;
      }
}
